{% extends "tracker/base.html" %}

{% block content %}

<h1>Dashboard</h1>

<p>Total Income: {{ total_income }}</p>
<p>Total Expense: {{ total_expense }}</p>
<p>Remaining Balance: {{ balance }}</p>

<h2>Filter Transactions</h2>

<form method="get">

    Category:
    <select name="category">
        <option value="all">All</option>

        {% for category in categories %}
            <option value="{{ category.id }}"
            {% if selected_category == category.id|stringformat:"s" %}
                selected
            {% endif %}
            >
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

    Type:
    <select name="type">
        <option value="all">All</option>
        <option value="Income" {% if selected_type == "Income" %}selected{% endif %}>Income</option>
        <option value="Expense" {% if selected_type == "Expense" %}selected{% endif %}>Expense</option>
    </select>

    From:
    <input type="date" name="date_from" value="{{ date_from }}">

    To:
    <input type="date" name="date_to" value="{{ date_to }}">

    <button type="submit">Apply Filter</button>

    <a href="{% url 'dashboard' %}">Clear Filters</a>

</form>


<h2>Budget Status</h2>

{% if budget %}
    <p>Budget Limit: {{ budget.limit_amount }}</p>
    <p>Period: Monthly</p>
    <p>Spent This Month: {{ budget_used }}</p>
{% else %}
    <p>No budget set yet.</p>
{% endif %}



<h2>Transactions</h2>

<table border="1">

<tr>
<th>Type</th>
<th>Category</th>
<th>Amount</th>
<th>Date</th>
<th>Description</th>
<th>Action</th>
</tr>

{% for transaction in transactions %}

<tr>

<td>{{ transaction.type }}</td>

<td>
{% if transaction.category %}
{{ transaction.category.name }}
{% else %}
Uncategorised
{% endif %}
</td>

<td>{{ transaction.amount }}</td>

<td>{{ transaction.date }}</td>

<td>{{ transaction.description }}</td>

<td>

<a href="{% url 'edit_transaction' transaction.id %}">Edit</a>

<form method="post" action="{% url 'delete_transaction' transaction.id %}" style="display:inline;">
{% csrf_token %}
<button type="submit">Delete</button>
</form>

</td>

</tr>

{% empty %}

<tr>
<td colspan="6">No transactions</td>
</tr>

{% endfor %}

</table>

{% endblock %}